*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
.container{
    text-align: center; 
}
.loginImg{
    width: 300px;
    height : 300px;
    border-radius: 50%;
    margin-top:3rem;
}
.container .btn{
    width: 10rem;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 0.4s;
    border:unset;
}
.container .btn:hover{
    transform: scale(1.1);
}
